<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>

    <style>

        .full-screen-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1;
        }

            .full-screen-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background-color: #333;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;
        }

            .navbar .navbar-brand {
                color: white;
                font-size: 24px;
                text-decoration: none;
                display: flex;
                align-items: center; /* Align logo and text vertically */
            }

                .navbar .navbar-brand img {
                    height: 40px; /* Adjust the size of the logo image */
                    margin-right: 10px; /* Space between the logo and the text */
                }

            .navbar ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
            }

            .navbar li {
                margin-left: 20px;
            }

                .navbar li a {
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    .navbar li a:hover {
                        background-color: #111;
                    }

        .active {
            background-color: #04AA6D;
        }
    </style>
</head>
<body>

    <!-- Navigation bar -->
    <div class="navbar">

        <a href="@Url.Action("Index","Admin")" class="navbar-brand">
            <img src="@Url.Content("~/img/logo.jpeg")" alt="Logo" /> Tasty World
        </a>

        <ul>

            <li>@Html.ActionLink("View feedbacks", "Contact", "Admin")</li>
            <li>@Html.ActionLink("View registered users", "ViewUser", "Admin")</li>
            <li>@Html.ActionLink("View order", "ViewOrder", "Admin")</li>
            <li>@Html.ActionLink("Add food item", "Create", "Admin")</li>
            <li>@Html.ActionLink("View food item", "displayFood", "Admin")</li>
            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
            <li>@Html.ActionLink(" ", "Logout", "Home")</li>
        </ul>
    </div>


    @RenderBody()
    @RenderSection("Scripts", required: false)

</body>
</html>